.list {
    margin: 0 0 20px 0;
    list-style-type: none;
    list-style-position: inside;
}

.listMarkered {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 20px 0;
    list-style-position: inside;
}

.listItem {
    display: inline;
}

.link {
    color: var(--white);
    position: relative;
}

.link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--white);
}

.lowRating {
    color: var(--lowRatingColor);
    border: 1px solid var(--lowRatingBorder);
}

.midRating {
    color: var(--midRatingColor);
    border: 1px solid var(--midRatingBorder);
}

.highRating {
    color: var(--highRatingColor);
    border: 1px solid var(--highRatingBorder);
}

.mainHeading {
    font-size: 72px;
    line-height: 74px;
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 24px;
}

.pageHeading {
    margin-bottom: 30px;
}