.navListItem {
    list-style: none;
    transition: transform 0.2s ease;
}

.navListItem:hover {
    transform: translateX(10px);
}

.navListItem a {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 15s ease;

}

.navListItemIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: var(--addedBg);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.navListItemIcon {
    width: 20px;
    height: 20px;
}

.navListItemIconSolid {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 6px;
}

.navListItemText {
    font-size: 1rem;
    color: var(--white);
}