.detailsTitle {
    font-size: clamp(2rem, 4vw, 4.5rem);
    margin-bottom: 16px;
}

.detailsText p {
    line-height: 1.5;
}

.detailsText h3 {
    margin-bottom: 10px;
}

.detailsText p:not(:last-child) {
    margin-bottom: 8px;
}