.headerForm {
    width: 80%
}

.headerInput {
    min-width: 60%;
    height: 44px;
    padding: 0 12px 0 38px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 14px;
    color: var(--searchInputColor);
    background-image: url("../../assets/images/loupe.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 16px 50%;
    background-color: hsla(0, 0%, 100%, .16);
    border: none;
    border-radius: 24px;
    transition: color .3s, background-color .3s, opacity .3s;
}

.headerInput:hover, .headerInput:focus-visible {
    color: var(--black);
    background-image: url("../../assets/images/loupe-black.svg");
    opacity: 1;
    background-color: var(--white);
}

.headerInputArea {
    position: relative;
    text-align: right;
    width: 100%;
}

.headerInputShortcut {
    display: flex;
    align-items: baseline;
    gap: 4px;
    position: absolute;
    right: 15px;
    top: 8px;
    color: var(--searchInputShortcutColor);
}

@media screen and (max-width: 767px) {
    .headerInputShortcut {
        display: none;
    }
}

.shortcutKey {
    border-radius: 3px;
    border: 1px solid var(--searchInputShortcutBorder);
    padding: 3px 5px;
    font-size: 0.6875rem;
    font-family: monospace;
}