:root {
    --darkBg: #151515;
    --dark: #202020;
    --white: #fff;
    --black: #000;
    --softRed: #b05151;
    --cardBackgroundColor: rgb(32, 32, 32);
    --lowRatingColor: #fc4b37;
    --lowRatingBorder: rgba(252, 75, 55, 0.4);
    --midRatingColor: #fdca52;
    --midRatingBorder: rgba(253, 202, 82, 0.4);
    --highRatingColor: #6dc849;
    --highRatingBorder: rgba(109, 200, 73, 0.4);
    --addedBg: hsla(0, 0%, 100%, 0.1);
    --green: green;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--darkBg);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--white);
}

body,
input,
button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
