.achievement {
    color: var(--white);
}

.achievementContainer {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.achievementImageContainer {
    flex-shrink: 0;
    border-radius: 6px;
}

.achievementImage {
    width: 56px;
    height: 56px;
    object-fit: cover;
}

.achievementPercentage {
    font-size: 0.75rem;
    margin-bottom: 2px;
}

.achievementName {
    margin-bottom: 4px;
    font-size: 1rem;
    font-weight: 700;
}

.achievementDescription {
    font-size: 0.75rem;
    color: hsla(0, 0%, 100%, .4);
}

